<h1>Bookmarks#top</h1>


<h2>BookMarks</h2> <!--books一覧 -->
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @bookmarks.each do |bookmark| %>
          <tr>
            <td><%= link_to bookmark.bookmark_name, bookmark, class: "book_#{bookmark.id}" %></td>
            <td><%= link_to bookmark.bookmark_url, bookmark.bookmark_url %></td>
            <td><%= bookmark.bookmark_description %></td>
            <td id="favorites_buttons_<%= bookmark.id %>">
              <%= render 'favorites/favorite', bookmark: bookmark %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>