<div class="row">

  <div class="topvisual">
    <%# <div class="col-xs-8 col-xs-offset-2 text-center">
      <div class="">
        <h2>どんどんブックマークしよう！！</h2>
      </div>
      <p class="">ブックマークしたサイトを見やすく整理整頓</p>
      <p class="">いちいちサイトを開かなくても一眼で確認出来る！</p>
    </div> %>
  </div>


  <%# <div class="col-xs-6">
    <div class=""></div>
  </div> %>

</div>

<h3>Everyone's BookMarks</h3>
<!--books一覧 -->
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>サイト画面</th>
      <th>サイトURL</th>
      <th>いいね</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
    <% if bookmark.is_bookmark_status != false %>
    <tr>
      <td>
        <%= link_to (bookmark.customer) do %>
        <%= attachment_image_tag(bookmark.customer, :customer_image, :fill, 50, 50, fallback: "no_image.jpg") %>
        <br><%= bookmark.customer.customer_name %>
        <% end %>
      </td>
      <td>
        <iframe id="inline-frame" scrolling="no" src="<%= bookmark.bookmark_url %>" width="300px" height="100px"
          scrolling=”auto” sandbox>
        </iframe>
      </td>
      <td>
        <%= link_to bookmark.bookmark_name, bookmark.bookmark_url %>
        <br>
        <%= link_to bookmark.bookmark_url do %>
        <img src="https://www.google.com/s2/favicons?domain=<%=bookmark.bookmark_url%>">
        <%end%>
        <%= link_to bookmark.bookmark_url, bookmark.bookmark_url %><br>
        <%= link_to "サイトへ GO!",bookmark.bookmark_url, class: "btn-sm btn-success edit_bookmark_#{bookmark.id}" %>
      </td>
      <td id="favorites_buttons_<%= bookmark.id %>">
        <%= render partial: 'favorites/favorite', locals: { bookmark: bookmark} %>
      </td>
      <td>
        <div class="comment-list bt style-2" id="comments">
          <div class="float-wrapper">
            <h4 class="comment-count"><%= bookmark.bookmark_comments.count %>件コメント</h4>
          </div>
        </div>
        <%= link_to "詳細ページへ",bookmark_path(bookmark), class: "btn-sm btn-primary edit_bookmark_#{bookmark.id}" %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<div class="container-top-image">
  <div class="theTarget">
    <div class="topslide1"></div>
    <div class="topslide2"></div>
    <div class="topslide3"></div>
    <div class="topslide4"></div>
    <div class="topslide5"></div>
  </div>
</div>
<%# <script src="assets/javascripts/jquery.min.js"></script>
<script src="assets/javascripts/skippr.min.js"></script>
<script src="assets/javascripts/script.js"></script> %>