<h2>Follow Users</h2>
<% if @customers.count > 0 %>
<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= attachment_image_tag(customer, :customer_image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
      <td><%= customer.customer_name %></td>
      <td>フォロー数：<%= customer.follower.count %></td>
      <td>フォロワー数：<%= customer.followed.count %></td>
      <td><%= link_to 'Show', customer, class: "customer_#{customer.id}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>ユーザーはいません</p>
<% end %>