<h1 id="room" data-room="<%= @room.id %>" data-customer="<%= current_customer.id %>"><%= @customer.customer_name %>
  さんとのチャット</h1>

<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
  <% if chat.customer_id == current_customer.id %>
  <p style="text-align: right;"><%= chat.message %></p>
  <% else %>
  <p style="text-align: left;"><%= chat.message %></p>
  <% end %>
  <% end %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
<%= f.text_field :message %>
<%= f.hidden_field :room_id %>
<% end %>