<!DOCTYPE html>
<html>
  <head>
    <title>BookMarks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">function disp(){window.alert('アラートの表示');}</script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"><!-- レスポンシブ対応設定　 -->
  </head>

  <body>
    <header>
      <div class="container">
          <% if admin_signed_in? %>
                    <ul>
                      <li><%= link_to ' ブックマーク一覧', admins_bookmarks_path %></li>
                      <li><a rel="nofollow" data-method="delete" href="/admins/sign_out">ログアウト</a></li>
                    </ul>
          <% elsif customer_signed_in? %>
                    <ul>
                      <li><%= link_to 'トップページ', root_path, class: "btn btn-default" %></li>
                      <li><%= link_to 'マイページ', customer_path(current_customer), class: "btn btn-default" %></li>
                      <li><a rel="nofollow" data-method="delete" href="/customers/sign_out", class="btn btn-default">ログアウト</a></li>
                    </ul>
          <% else %>
                    <ul>
                      <li><%= link_to ' トップページ', root_path, class: "btn btn-default" %></li>
                      <li><a href="/customers/sign_up", class="btn btn-default">新規登録</a></li>
                      <li><a href="/customers/sign_in", class="btn btn-default">ログイン</a></li>
                    </ul>
          <% end %>
      </div>
    </header>


    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>


    <footer>

    </footer>

  </body>
</html>
